<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<!-- Languages  -->
<!-- <figure>
    <embed src="https://wakatime.com/share/@sujaykundu777/e4c2a44e-390d-41f3-a4c8-b23b05fbec30.svg"></embed>
</figure>


<figure>
    <embed src="https://wakatime.com/share/@sujaykundu777/5fcfa63e-9357-44d1-9a49-5244504a1f13.svg"></embed>
</figure> -->
<div id="tester"></div>
<div id='skills_bar'></div>

<script>
    function makeplot() {
    Plotly.d3.csv("{{site.url}}{{site.baseurl}}/assets/dataset/CodingActivity.csv", function(data){ processData(data) } );
  
  };
  
  function processData(allRows) {
    var x = [], y = [], standard_deviation = [];
  
    for (var i=0; i<allRows.length; i++) {
      row = allRows[i];
      x.push( row['Skill'] );
      y.push( row['Hours'] );
    }
    console.log( 'X',x, 'Y',y, 'SD',standard_deviation );
    makePlotly( x, y, standard_deviation );
  }


function makePlotly( x, y, standard_deviation ){
  var plotDiv = document.getElementById('tester');
  var traces = [{
    x: x,
    y: y,
    type: 'bar',
    marker: { color: 'rgb(142,124,195)'}
  }];

  var layout = {
  title: "Manna's Skill Set",
  font:{
    family: 'Raleway, sans-serif'
  },
  showlegend: false,
  xaxis: {
    tickangle: -45
  },
  yaxis: {
    zeroline: false,
    gridwidth: 2
  },
  bargap :0.05
};

  Plotly.newPlot('skills_bar', traces,layout);
  console.log("bar");
};
makeplot();
</script>